<h2 class="avenir lh-copy pl4 black-80">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="avenir pa4 black-80">

    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">

      <div class="mt3">
        <%= f.label :email, class: "db fw4 lh-copy f6" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email address:", class: "pa2 input-reset ba bg-transparent w-100 measure" %>
      </div>

      <div class="mt3">
        <%= f.label :password, class:"fw4 f6" %>
        <% if @minimum_password_length %>
        <em class="db fw4 f6">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class:"b pa2 input-reset ba bg-transparent" %>
      </div>

      <div class="mt3">
        <%= f.label :password_confirmation, class:"db fw4 lh-copy f6" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"b pa2 input-reset ba bg-transparent" %>
      </div>

      <div class="mt3">
        <%= f.submit "Sign up", class:"avenir b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" %>
      </div>

    </fieldset>

    
  </div>
<% end %>

<div class="pl4">
  <%= render "devise/shared/links" %>
</div>
