<div id="<%= dom_id photoscw %>">

  <%= image_tag photoscw.image.url %>


  <p>
    <strong>Date:</strong>
    <%= photoscw.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= photoscw.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= photoscw.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photoscw.description %>
  </p>

</div>
