<p style="color: green"><%= notice %></p>

<%= render @photoscw %>

<div>
  <%= link_to "Edit this photoscw", edit_photoscw_path(@photoscw) %> |
  <%= link_to "Back to photoscws", photoscws_path %>

  <%= button_to "Destroy this photoscw", @photoscw, method: :delete %>
</div>
