<h2 class="avenir lh-copy pl4 black-80">Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="avenir pa4 black-8">

    <div class="mt3">
      <%= f.label :email, class:"db fw4 lh-copy f6" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"pa2 input-reset ba bg-transparent w-100 measure" %>
    </div>

    <div class="mt3">
      <%= f.submit "Resend unlock instructions", class:"b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" %>
    </div>


  </div>
<% end %>

<div class="pl4">
    <%= render "devise/shared/links" %>`
</div>