<h2 class="avenir lh-copy pl4 black-80">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="avenir pa4 black-8">

    <div class="mt3">
      <%= f.label :password, "New password", class:"db fw4 lh-copy f6" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"pa2 input-reset ba bg-transparent w-100 measure"  %>
    </div>

    <div class="mt3">
      <%= f.label :password_confirmation, "Confirm new password", class:"db fw4 lh-copy f6" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"b pa2 input-reset ba bg-transparent"  %>
    </div>

    <div class="mt3">
      <%= f.submit "Change my password", class:"b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" %>
    </div>

    <%= render "devise/shared/links" %>
  </div>
<% end %>
