<h2 class="avenir lh-copy pl4 black-80">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="avenir pa4 black-8">

    <div class="mt3">
      <%= f.label :email, class: "db fw4 lh-copy f6" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"pa2 input-reset ba bg-transparent w-100 measure"  %>
    </div>

    <div class="mt3">
      <%= f.label :password, class: "db fw4 lh-copy f6" %>
      <%= f.password_field :password, autocomplete: "current-password", class:"b pa2 input-reset ba bg-transparent" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mt3">
        <%= f.check_box :remember_me, class:"mr2" %>
        <%= f.label :remember_me, class:"fw4 lh-copy f6" %>
      </div>
    <% end %>

    <div class="mt3">
      <%= f.submit "Log in", class:"b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" %>
    </div>


  </div>
<% end %>
<div class="pl4">
    <%= render "devise/shared/links" %>
</div>
