<article id="<%= dom_id photo %> " class="br1 bw1 ba b--silver mb4 pa3 shawdow-1">

<% link_to image_tag(photo.image), photo.image %>

  <div class="aspect-ratio aspect-ratio--6x4 ">
    <div class="aspect-ratio--object cover" style="background:url(<%= url_for(photo.image) %> ) center;"></div>
    </div>
    <div class="ma3-ns ma2-l ma0-m">



    <p class="avenir f7 mv0">
      <strong>Date: </strong>
      <%= photo.date %> 
    </p>

    <p class="avenir f7 mv0">
      <strong>Location: </strong>
      <%= photo.location %> 
    </p>

        <p class="measure 1h-copy pt0 avenir">
      <strong>Title: </strong>
      <%= photo.title %> 
    </p>

    <p class="measure 1h-copy pt0 avenir">
      <strong>Description: </strong>
      <%= photo.description %>       
    </p>
    <p>
      <%= link_to "Show this photo", photo, class: "avenir link dim dark-green f6 f5-ns dib mr3 mr4-ns" %>
    </p>            
  </div>
</article>
