<div id="<%= dom_id photo %>">

  <%= link_to image_tag(photo.image), photo.image %>

  <p>
    <strong>Date:</strong>
    <%= photo.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= photo.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

</div>
