
  <%= form_with(url: upload_pictures_path, model: @photo_batch) do |form| %>
  <div class="avenir pa4 black-80">
    <fieldset id="batch_upload" class="tc ba b--transparent ph0 mh0">
        <% if @photo_batch.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@photo_batch.errors.count, "error") %> prohibited this photo from being saved:</h2>

            <ul>
              <% @photo_batch.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mt3">
          <%= form.label :title, class: "db fw4 lh-copy f6" %>
          <%= form.text_field :title, class:"b pa2 input-reset ba bg-transparent" %>
        </div>



        <div class="mt3">
          <%= form.label :image, class: "db fw4 mb2 lh-copy f6" %>
          <%= form.file_field :image, multiple: true, class:"avenir b ph6 pv6 ba b--black bg-transparent grow pointer f6"%>
          <%= form.label :drag_and_drop, class: "db mt2 i fw4 lh-copy f6" %>
        </div>


        <div class="mt3">
          <%= form.submit "Upload Photos", class:"avenir b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" %>
        </div>
      </fieldset>
    </div>
  <% end %>

